* {
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  overflow-x: hidden;
}

main {
  margin-left: 12em;
  margin-top: 7em;
  margin-bottom: 14em;
}

@media (max-width: 376px) {
  main {
    margin-left: 2em;
    margin-top: 6em;
    width: 100%;
  }
}

main #square-orange {
  height: 32em;
  width: 57em;
  background-color: #f79030;
  position: absolute;
  top: 10em;
  left: 27.2em;
  z-index: -1;
}

@media (max-width: 376px) {
  main #square-orange {
    top: 20em;
    left: 0em;
    width: 100%;
  }
}

main #raposaboa-h1 {
  color: white;
  font-family: "Rubik", sans-serif;
}

main h1 {
  font-family: "Playfair Display", serif;
  font-size: 12vh;
}

@media (max-width: 376px) {
  main h1 {
    font-size: 9vh;
  }
}

main p {
  font-size: 3vh;
  font-family: "Rubik", sans-serif;
}

@media (max-width: 376px) {
  main p {
    margin-top: 2em;
    font-size: 2.5vh;
    margin-right: 2em;
  }
}

main .p-white {
  color: white;
}

section {
  margin: 50vh 0;
}

section #sobre-raposaboa {
  margin-top: 3em;
  width: 8em;
  height: 2.5em;
  font-size: 1.2em;
  font-weight: bold;
  border: solid #f79030;
  background-color: white;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  cursor: pointer;
  outline: none;
  color: #f79030;
}

#sobre-raposaboa:hover {
  background-color: #f79030;
  color: white;
  border-radius: 5em;
}

footer {
  width: 100%;
  height: 100vh;
  background-color: #111;
  margin: 0;
  padding: 0;
  border: 0;
}

footer #footer-page {
  height: 100vh;
  display: -ms-grid;
  display: grid;
  margin: 0 12em;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

@media (max-width: 376px) {
  footer #footer-page {
    margin: 0;
    display: block;
  }
}

footer #footer-page h1 {
  color: #3d3d3d;
  -ms-grid-column: 1;
  grid-column: 1;
  font-size: 6vh;
}

@media (max-width: 376px) {
  footer #footer-page h1 {
    font-size: 4vh;
    padding: 1em;
  }
}

footer #footer-page #h1-email {
  color: white;
  -ms-grid-column: 1;
  grid-column: 1;
}

#nav-conteiner {
  width: 100%;
  top: 0;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 2em 0em 0em 2em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#nav-conteiner #test {
  margin-right: 4em;
}

@media (max-width: 376px) {
  #nav-conteiner {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 1em 1em 0em 1em;
    position: relative;
  }
}

#nav-conteiner #logo:hover {
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-animation: raposa 2s;
          animation: raposa 2s;
}

@-webkit-keyframes raposa {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  30% {
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
  }
  60% {
    -webkit-transform: rotate(-30deg);
            transform: rotate(-30deg);
  }
}

@keyframes raposa {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  30% {
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
  }
  60% {
    -webkit-transform: rotate(-30deg);
            transform: rotate(-30deg);
  }
}

#nav-conteiner #menu-hamburguer {
  height: 37px;
  width: 50px;
  display: block;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  left: 85em;
  cursor: pointer;
}

@media (max-width: 376px) {
  #nav-conteiner #menu-hamburguer {
    left: 18em;
  }
}

#nav-conteiner #menu-hamburguer span {
  display: block;
  position: relative;
  height: 3px;
  width: 100%;
  background: #d3531a;
  border-radius: 0;
  opacity: 1;
  left: 0;
}

#nav-conteiner #menu-hamburguer span:nth-child(1) {
  top: 0;
}

#nav-conteiner #menu-hamburguer span:nth-child(2) {
  top: 18px;
}

#nav-conteiner #menu-hamburguer span:nth-child(3) {
  top: 27px;
}

#nav-conteiner #menu-hamburguer:hover {
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  background-color: #f79030;
  border-radius: 50px;
  width: 50px;
  height: 50px;
}

#nav-conteiner #menu-hamburguer:hover span {
  display: none;
}

#nav-conteiner #logo-icon {
  display: none;
}
/*# sourceMappingURL=main.css.map */